.search{
    -webkit-appearance: none;
    border:none;
    outline: none;
    padding: 10px;
    padding-bottom: 0;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
    transition-duration:.3s;
    transition-property: width, color;
}
.search:focus{
    width: 200px;
    border-bottom: 2px solid #95dada;
}